@model IEnumerable<QuanAoTheThaoC5.Models.ProductImg>

@{
    ViewData["Title"] = "ImgView";
}

<h1>ImgView</h1>

<p>

    <button class="btn btn-primary"> <a asp-action="CreateImg" class="text-decoration-none ; text-light">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.URl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                    <img src="~/themes/img/@item.URl" alt="Fjords" style="width:100%">

            </td>
            <td>
          
     
  
                    @Html.ActionLink("Delete", "DeleteImg", new { id=item.Id},new{@Class="btn btn-danger"} )
            </td>
        </tr>
}
    </tbody>
</table>
